<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>M</key>
      <integer>-5</integer>
      <key>T</key>
      <integer>-15</integer>
      <key>V</key>
      <integer>-15</integer>
      <key>W</key>
      <integer>5</integer>
      <key>X</key>
      <integer>-5</integer>
      <key>public.kern2.OU</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>v</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>T</key>
      <integer>-5</integer>
      <key>V</key>
      <integer>-5</integer>
      <key>W</key>
      <integer>5</integer>
      <key>X</key>
      <integer>-5</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>public.kern2.EN</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>q</key>
      <integer>5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>public.kern2.EN</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>G</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>d</key>
      <integer>-15</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>-10</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>m</key>
      <integer>-10</integer>
      <key>n</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.EN</key>
      <integer>-5</integer>
      <key>public.kern2.OU</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>-5</integer>
      <key>s</key>
      <integer>-15</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-15</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>H</key>
      <integer>-10</integer>
      <key>P</key>
      <integer>-5</integer>
      <key>S</key>
      <integer>10</integer>
      <key>T</key>
      <integer>-5</integer>
      <key>W</key>
      <integer>5</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>m</key>
      <integer>5</integer>
      <key>n</key>
      <integer>5</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.I</key>
      <integer>-5</integer>
      <key>public.kern2.OU</key>
      <integer>5</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>q</key>
      <integer>5</integer>
      <key>r</key>
      <integer>5</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>G</key>
      <integer>5</integer>
      <key>S</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>10</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>5</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>R</key>
      <integer>5</integer>
      <key>S</key>
      <integer>10</integer>
      <key>X</key>
      <integer>0</integer>
      <key>Z</key>
      <integer>10</integer>
      <key>public.kern2.OU</key>
      <integer>5</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>G</key>
      <integer>-5</integer>
      <key>J</key>
      <integer>-15</integer>
      <key>L</key>
      <integer>-25</integer>
      <key>P</key>
      <integer>-5</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>f</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>p</key>
      <integer>-5</integer>
      <key>public.kern2.EN</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.ou</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-5</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-60</integer>
      <key>w</key>
      <integer>-10</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>D</key>
      <integer>-5</integer>
      <key>F</key>
      <integer>-5</integer>
      <key>H</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-5</integer>
      <key>K</key>
      <integer>-10</integer>
      <key>M</key>
      <integer>-20</integer>
      <key>P</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-5</integer>
      <key>T</key>
      <integer>-70</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>b</key>
      <integer>-5</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>public.kern2.EN</key>
      <integer>-15</integer>
      <key>public.kern2.I</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.ou</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-15</integer>
      <key>t</key>
      <integer>-25</integer>
      <key>v</key>
      <integer>-60</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>F</key>
      <integer>5</integer>
      <key>G</key>
      <integer>5</integer>
      <key>L</key>
      <integer>5</integer>
      <key>b</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>q</key>
      <integer>5</integer>
      <key>w</key>
      <integer>5</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>F</key>
      <integer>-5</integer>
      <key>public.kern2.EN</key>
      <integer>-5</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>H</key>
      <integer>-5</integer>
      <key>J</key>
      <integer>-5</integer>
      <key>L</key>
      <integer>5</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-25</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>D</key>
      <integer>-15</integer>
      <key>G</key>
      <integer>-15</integer>
      <key>H</key>
      <integer>-15</integer>
      <key>J</key>
      <integer>-15</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>M</key>
      <integer>-20</integer>
      <key>P</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>b</key>
      <integer>-5</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-15</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>h</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>n</key>
      <integer>-10</integer>
      <key>p</key>
      <integer>-5</integer>
      <key>public.kern2.EN</key>
      <integer>-30</integer>
      <key>public.kern2.I</key>
      <integer>-20</integer>
      <key>public.kern2.OU</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>B</key>
      <integer>10</integer>
      <key>D</key>
      <integer>5</integer>
      <key>G</key>
      <integer>5</integer>
      <key>J</key>
      <integer>5</integer>
      <key>R</key>
      <integer>10</integer>
      <key>T</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>g</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>J</key>
      <integer>-60</integer>
      <key>R</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-70</integer>
      <key>e</key>
      <integer>-70</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-70</integer>
      <key>h</key>
      <integer>5</integer>
      <key>m</key>
      <integer>-50</integer>
      <key>n</key>
      <integer>-50</integer>
      <key>p</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.OU</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.ou</key>
      <integer>-70</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-60</integer>
      <key>s</key>
      <integer>-70</integer>
      <key>udieresis</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-70</integer>
      <key>w</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>G</key>
      <integer>10</integer>
      <key>T</key>
      <integer>5</integer>
      <key>V</key>
      <integer>5</integer>
      <key>W</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>10</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>D</key>
      <integer>-5</integer>
      <key>F</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>M</key>
      <integer>-5</integer>
      <key>W</key>
      <integer>-5</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.EN</key>
      <integer>-5</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.ou</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>r</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>B</key>
      <integer>10</integer>
      <key>F</key>
      <integer>5</integer>
      <key>G</key>
      <integer>10</integer>
      <key>J</key>
      <integer>10</integer>
      <key>L</key>
      <integer>10</integer>
      <key>R</key>
      <integer>10</integer>
      <key>W</key>
      <integer>5</integer>
      <key>b</key>
      <integer>5</integer>
      <key>public.kern2.A</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.ou</key>
      <integer>5</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>G</key>
      <integer>-10</integer>
      <key>H</key>
      <integer>-5</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>0</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-50</integer>
      <key>w</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>D</key>
      <integer>5</integer>
      <key>R</key>
      <integer>5</integer>
      <key>public.kern2.I</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>alef-hb</key>
    <dict>
      <key>bet-hb</key>
      <integer>-20</integer>
      <key>finalkaf-hb</key>
      <integer>-5</integer>
      <key>kaf-hb</key>
      <integer>-5</integer>
      <key>lamed-hb</key>
      <integer>-5</integer>
      <key>mem-hb</key>
      <integer>-5</integer>
    </dict>
    <key>ayin-hb</key>
    <dict>
      <key>dalet-hb</key>
      <integer>-10</integer>
      <key>yod-hb</key>
      <integer>-10</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>b</key>
      <integer>-5</integer>
      <key>e</key>
      <integer>5</integer>
      <key>f</key>
      <integer>-5</integer>
      <key>h</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>5</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>bet-hb</key>
    <dict>
      <key>he-hb</key>
      <integer>-5</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>j</key>
      <integer>-5</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>s</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>w</key>
      <integer>5</integer>
    </dict>
    <key>dalet-hb</key>
    <dict>
      <key>he-hb</key>
      <integer>-10</integer>
      <key>resh-hb</key>
      <integer>0</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>j</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>10</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>b</key>
      <integer>5</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-15</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>h</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>finalmem-hb</key>
    <dict>
      <key>nun-hb</key>
      <integer>0</integer>
    </dict>
    <key>finalnun-hb</key>
    <dict>
      <key>period</key>
      <integer>-50</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>five</key>
      <integer>0</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>e</key>
      <integer>5</integer>
      <key>j</key>
      <integer>20</integer>
      <key>n</key>
      <integer>5</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>10</integer>
      <key>r</key>
      <integer>5</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>w</key>
      <integer>5</integer>
    </dict>
    <key>gimel-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-5</integer>
      <key>dalet-hb</key>
      <integer>-30</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>b</key>
      <integer>-5</integer>
      <key>f</key>
      <integer>-10</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>q</key>
      <integer>5</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-35</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>he-hb</key>
    <dict>
      <key>vav-hb</key>
      <integer>0</integer>
    </dict>
    <key>het-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-5</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>g</key>
      <integer>10</integer>
      <key>p</key>
      <integer>5</integer>
      <key>r</key>
      <integer>5</integer>
      <key>t</key>
      <integer>5</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>d</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-15</integer>
      <key>v</key>
      <integer>-5</integer>
    </dict>
    <key>kaf-hb</key>
    <dict>
      <key>yod-hb</key>
      <integer>-10</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>public.kern2.ou</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>lamed-hb</key>
    <dict>
      <key>gereshhb</key>
      <integer>0</integer>
      <key>gershayimhb</key>
      <integer>30</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>f</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>mem-hb</key>
    <dict>
      <key>bet-hb</key>
      <integer>-40</integer>
      <key>finalmem-hb</key>
      <integer>-10</integer>
      <key>yod-hb</key>
      <integer>-10</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>b</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>h</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>k</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>p</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.ou</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-35</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>nun-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-5</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>r</key>
      <integer>5</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>b</key>
      <integer>-5</integer>
      <key>f</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>m</key>
      <integer>5</integer>
      <key>n</key>
      <integer>5</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>q</key>
      <integer>5</integer>
      <key>r</key>
      <integer>5</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>B</key>
      <integer>0</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-10</integer>
      <key>H</key>
      <integer>-15</integer>
      <key>J</key>
      <integer>-10</integer>
      <key>K</key>
      <integer>-10</integer>
      <key>M</key>
      <integer>-10</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>X</key>
      <integer>-5</integer>
      <key>b</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>k</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>m</key>
      <integer>-5</integer>
      <key>n</key>
      <integer>-5</integer>
      <key>p</key>
      <integer>-10</integer>
      <key>public.kern2.EN</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.ou</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>q</key>
      <integer>-10</integer>
      <key>r</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-15</integer>
      <key>t</key>
      <integer>-30</integer>
      <key>v</key>
      <integer>-60</integer>
      <key>w</key>
      <integer>-25</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.EN</key>
    <dict>
      <key>B</key>
      <integer>5</integer>
      <key>E</key>
      <integer>-15</integer>
      <key>F</key>
      <integer>-10</integer>
      <key>G</key>
      <integer>10</integer>
      <key>K</key>
      <integer>5</integer>
      <key>L</key>
      <integer>5</integer>
      <key>S</key>
      <integer>5</integer>
      <key>e</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.EN</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.ou</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>G</key>
      <integer>5</integer>
      <key>S</key>
      <integer>5</integer>
      <key>W</key>
      <integer>5</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>m</key>
      <integer>5</integer>
      <key>n</key>
      <integer>5</integer>
      <key>public.kern2.OU</key>
      <integer>5</integer>
      <key>public.kern2.ou</key>
      <integer>5</integer>
      <key>q</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.OU</key>
    <dict>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>5</integer>
      <key>L</key>
      <integer>5</integer>
      <key>S</key>
      <integer>5</integer>
      <key>T</key>
      <integer>-5</integer>
      <key>V</key>
      <integer>-5</integer>
      <key>W</key>
      <integer>10</integer>
      <key>Z</key>
      <integer>5</integer>
      <key>b</key>
      <integer>5</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>n</key>
      <integer>5</integer>
      <key>p</key>
      <integer>5</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>public.kern2.ou</key>
      <integer>0</integer>
      <key>q</key>
      <integer>0</integer>
      <key>r</key>
      <integer>5</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>D</key>
      <integer>0</integer>
      <key>F</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>J</key>
      <integer>-70</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-50</integer>
      <key>e</key>
      <integer>-70</integer>
      <key>f</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-70</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>m</key>
      <integer>-20</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.OU</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <integer>-30</integer>
      <key>public.kern2.ou</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-50</integer>
      <key>t</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>n</key>
      <integer>0</integer>
      <key>q</key>
      <integer>5</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-15</integer>
      <key>w</key>
      <integer>5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.ou</key>
      <integer>5</integer>
      <key>q</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.ou</key>
    <dict>
      <key>b</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>m</key>
      <integer>5</integer>
      <key>p</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>5</integer>
      <key>r</key>
      <integer>0</integer>
      <key>s</key>
      <integer>5</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>w</key>
      <integer>5</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>b</key>
      <integer>5</integer>
      <key>e</key>
      <integer>5</integer>
      <key>h</key>
      <integer>0</integer>
      <key>k</key>
      <integer>5</integer>
      <key>m</key>
      <integer>5</integer>
      <key>n</key>
      <integer>5</integer>
      <key>p</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.ou</key>
      <integer>5</integer>
      <key>q</key>
      <integer>5</integer>
      <key>r</key>
      <integer>5</integer>
      <key>s</key>
      <integer>5</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>-10</integer>
      <key>g</key>
      <integer>-5</integer>
      <key>h</key>
      <integer>-15</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>k</key>
      <integer>-10</integer>
      <key>l</key>
      <integer>-15</integer>
      <key>m</key>
      <integer>-5</integer>
      <key>n</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.i</key>
      <integer>-15</integer>
      <key>public.kern2.ou</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-10</integer>
      <key>r</key>
      <integer>-5</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>t</key>
      <integer>-15</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-5</integer>
      <key>z</key>
      <integer>-15</integer>
    </dict>
    <key>qof-hb</key>
    <dict>
      <key>yod-hb</key>
      <integer>0</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>b</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-5</integer>
      <key>e</key>
      <integer>-5</integer>
      <key>g</key>
      <integer>-15</integer>
      <key>h</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>k</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>n</key>
      <integer>5</integer>
      <key>p</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>-5</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>resh-hb</key>
    <dict>
      <key>bet-hb</key>
      <integer>-40</integer>
      <key>qof-hb</key>
      <integer>-10</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>samekh-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-5</integer>
      <key>gimel-hb</key>
      <integer>-10</integer>
    </dict>
    <key>shin-hb</key>
    <dict>
      <key>bet-hb</key>
      <integer>-30</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.OU</key>
      <integer>-5</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>5</integer>
    </dict>
    <key>tav-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>yod-hb</key>
      <integer>-20</integer>
    </dict>
    <key>tet-hb</key>
    <dict>
      <key>mem-hb</key>
      <integer>-5</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>b</key>
      <integer>-5</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-15</integer>
      <key>h</key>
      <integer>-15</integer>
      <key>k</key>
      <integer>-5</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>n</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.ou</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-15</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-5</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>vav-hb</key>
    <dict>
      <key>bet-hb</key>
      <integer>-40</integer>
      <key>finalkaf-hb</key>
      <integer>-10</integer>
      <key>finalpe-hb</key>
      <integer>-10</integer>
      <key>lamed-hb</key>
      <integer>-10</integer>
      <key>shin-hb</key>
      <integer>0</integer>
      <key>zayin-hb</key>
      <integer>-10</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>q</key>
      <integer>5</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>b</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-15</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>h</key>
      <integer>-10</integer>
      <key>n</key>
      <integer>-10</integer>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.i</key>
      <integer>-15</integer>
      <key>public.kern2.ou</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>-5</integer>
    </dict>
    <key>yod-hb</key>
    <dict>
      <key>bet-hb</key>
      <integer>-40</integer>
      <key>kaf-hb</key>
      <integer>-10</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>resh-hb</key>
      <integer>-10</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>h</key>
      <integer>5</integer>
      <key>p</key>
      <integer>10</integer>
      <key>v</key>
      <integer>-5</integer>
    </dict>
  </dict>
</plist>
