<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>20 Feb 21, 1:37</string>
      <string>glyphs.20 F_eb 21, 1_37</string>
    </array>
    <array>
      <string>Nov 22 20, 12:48</string>
      <string>glyphs.N_ov 22 20, 12_48</string>
    </array>
    <array>
      <string>Nov 22 20, 13:01</string>
      <string>glyphs.N_ov 22 20, 13_01</string>
    </array>
    <array>
      <string>Nov 22 20, 23:35</string>
      <string>glyphs.N_ov 22 20, 23_35</string>
    </array>
    <array>
      <string>4. März 21, 13:52</string>
      <string>glyphs.4. M_ärz 21, 13_52</string>
    </array>
    <array>
      <string>20 Feb 21, 2:39</string>
      <string>glyphs.20 F_eb 21, 2_39</string>
    </array>
    <array>
      <string>20 Feb 21, 15:00</string>
      <string>glyphs.20 F_eb 21, 15_00</string>
    </array>
    <array>
      <string>21 Feb 21, 1:10</string>
      <string>glyphs.21 F_eb 21, 1_10</string>
    </array>
    <array>
      <string>21 Feb 21, 1:47</string>
      <string>glyphs.21 F_eb 21, 1_47</string>
    </array>
    <array>
      <string>21 Feb 21, 0:18</string>
      <string>glyphs.21 F_eb 21, 0_18</string>
    </array>
  </array>
</plist>
